form  {
    display: flex;
    height: 40px;
    width: 620px;
    input {
        width: 100%;
        border-radius: 2px  0 0 2px;
        padding: 12px;
        font-size:1rem;
        border: 1px solid #d3d3d3;
        border-right: none;
    }
    button {
        width: 64px;
        border: 1px solid #d3d3d3;
        border-radius: 0 2px 2px 0;
        padding-top: 4px;
        background-color: #f8f8f8;
        cursor: pointer;
        &:hover {
            border-color: #c6c6c6;
            background-color: #f0f0f0;
        }
    }
}